.profileImage {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
}

.profileDropdown {
    width: 200px;
    right: 5px;
}

.dropLink {
    color: rgb(8, 167, 8);
    text-align: center;
    font-weight: 600;
    border: 2px solid wheat;
    border-radius: 10px;
    height: 30px;
}
.dropLink:hover {
    background-color: rgba(128, 128, 128, 0.164);
}
